.main-content {
    padding: 10%;
    flex: 1 1 80%;
    min-height: 100vh;
}

.grid {
    height: 80%;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-template-rows: repeat(3 , 1fr);
    grid-gap: 15px;
}


.grid-item {
    /*background: #355070;*/
    background: linear-gradient(45deg , #355070 80%,  #3E5B7D);
    border-radius: 15px;
    position: relative;
    color: #fff;
    font-weight: bold;
    display: grid;
    place-items: center;
    transition: 300ms;
}

.grid-item:hover {
    border-radius: 0px;
    transition: 300ms;
    background: #fff;
    color: #355070;
    cursor: pointer;
}

.grid-item.linkedin:hover {
    border-radius: 0px;
    transition: 300ms;
    background: #fff;
    color: #2867B2;
    cursor: pointer;
}

.grid-item.github:hover {
    border-radius: 0px;
    transition: 300ms;
    background: #fff;
    color: #62AB41;
    cursor: pointer;
}

.Icon {
    font-size: 3.5rem;
}

#face {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
}

#education {
    grid-row: 2 / span 2;
    grid-column: 1 / span 1;
}

#organizations {
    grid-row: 1 / span 2;
    grid-column: 2 / span 1;
}

#aboutme {
    grid-row: 3 / span 1;
    grid-column: 2 / span 2;
}

#contact {
    grid-row: 1 / span 2;
    grid-column: 4 / span 1;
}

#music {
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;
}

#hobbies {
    grid-row: 2 / span 1;
    grid-column: 3 / span 1;
}

#thissite {
    grid-row: 3 / span 1;
    grid-column: 4 / span 1;
}

@media screen and (min-width: 960px) {
    .Icon {
        font-size: 4.3rem;
        margin: 3px;
    }
}

